@import 'src/styles/variables';

.root {
  width: 100%;
  margin-bottom: 35px;
  
  .innerRoot {
    width: $sectionWidth;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px 25px 0px;
    border-top: 1px solid $colorMiddleLightGray;

    .form {
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .inputRoot {
        width: 65%;

        .inputTextField {
          input {
            height: 21px;
          }
        }
      }
    }
  }
}