@import 'src/styles/variables';

.root {
  display: flex;
  flex-direction: column;

  .description {
    width: 750px;
    @media (max-width: $desktopBreakpoint) {
      width: calc(100% - 40px);
    }

    .descriptionHeader {
      display: flex;
      flex-direction: column;
    }

    .buyTickets {
      padding: 40px 0px 0px 0px;
    }
  }
}