@import 'src/styles/variables';

.root {
  .eventsWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    width: calc(100% + 20px);
    height: 100%;
    margin-bottom: 1.5%;
    margin-left: -10px;
    margin-right: -10px;
  }
}

.loadMoreButtonWrapper {
  display: flex;
  justify-content: center;
}