@import 'src/styles/variables';

.menuRoot {
  background-color: transparent;
  width: 300px;
  margin-top: 34px !important;
  border-radius: 0 !important;
}

.menuList {
  background-color: $colorWhite;
  color: $colorBlack;
  padding: 15px !important;
}

.menuItemRoot {
  margin: 10px 0px 15px 0px !important;

  * {
    &:hover {
      color: $colorRed !important;
    }
  }
}