@import 'src/styles/variables';

.root {
  display: flex;
  flex-direction: column;

  padding-top: 20px;

  .inputRoot {
    margin: 10px 0px 10px 0px;
  }

  .submitButtonRoot {
    margin-top: 30px;

    .submitButton {
      max-width: 100%;
    }
  }
}