@import 'src/styles/variables';

.root {
  border-radius: 50%;
  border: 3px solid $colorWhite;
  width: 35px;
  height: 35px;
  font-size: $medium;
  margin-left: 25px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  &:hover {
    opacity: 0.85;
  }
}