@import 'src/styles/variables';

.carouselWrapper {
  margin: 30px 0px 30px 0px;
  width: 100%;
  padding-bottom: 40.25%;
	position: relative;

  .slider {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;

    color: white;
    font-size: 24px;
    text-align: center;

    *:global(.slick-list), *:global(.slick-track), *:global(.slick-slide) div {
      height: 100%;
    }

    *:global(.slick-slide) {
      padding: 10px;
    }

    .image {
      padding: 0;
      display: inline-block;
      width: 100%;
      height: 100%;
    }

    .imageWrapper {
      height: 100% !important;
    }
  
    *.center {
      height: 100%;
    }
  
    li {
      bottom: -20px;
  
      button:before {
        opacity: 1;
        color: $colorRed;
        content: "";
        background-color: $colorRed;
        border-radius: 10px;
        width: 10px;
        height: 10px;
      }
  
      &:global(.slick-active) button:before {
        width: 50px;
        left: -20px;
      }
      
      padding: 0px 30px 20px 10px;
      cursor: pointer;
    }
  }
}