@import 'src/styles/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $colorBlack;
  height: 100%;
  position: relative;

  .text {
    z-index: 201;
    height: 100%;
    top: 5%;
    position: absolute;
    color: $colorWhite;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;

    .date {
      flex: 1;
      font-size: 5em;
    }

    .title {
      flex: 1.5;
      vertical-align: middle;
      // line-height: 1;
      font-size: 10em;
    }

    .place {
      flex: 1;
      margin-bottom: -40%;
      font-size: 5em;
    }
  }

  
}