@import 'src/styles/variables';

.root {
  background-color: rgba($colorLightGray, 0.35);
  
  .innerRoot {
    max-width: $sectionWidth;
    margin: 0 auto;
    display: flex;
    flex-direction: row;

    .data {
      flex: 3;
      .links {
        margin-left: 2px;
        max-height: 250px;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }
    }

    .info {
      flex: 1;
    }
  }
}