@import 'src/styles/variables';

.root {
  max-width: $sectionWidth;
  margin: 1.5% auto 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  .header {
    text-transform: uppercase;
    color: $colorBlack;
    font-size: 2rem;
    margin-left: -4px;
  }
}