@import 'src/styles/variables';

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  padding-top: 60px;
  padding-bottom: 30px;
  width: 100%;
  box-sizing: border-box;

  .content {
    max-width: $sectionWidth;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .header {
      margin-left: -2px;
      margin-bottom: 20px;
    }
  }

  &:nth-child(2n + 1) {
    background-color: rgba($colorLightGray, 0.35);
  }
}