@import 'src/styles/variables';

.root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  z-index: 202;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &:hover {
    background-color: rgba($color: $colorBlack, $alpha: 0.75);
    opacity: 1;
  }

  .innerRoot {
    z-index: 201;
    height: 100%;
    width: 100%;
    padding: 5%;
    position: absolute;
    color: $colorWhite;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    background: inherit;

    * {
      z-index: 2;
    }

    img {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      opacity: 0.01;
    }

    .likeIconWrapper {
      .icon {
        font-size: 3rem;
      }
      margin-bottom: 45px;
    }

    .date {
      display: flex;
      align-items: flex-end;
      margin-bottom: 7px;
    }

    .title {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      word-break: break-all;
      line-height: 1;
      max-height: 134px;
      overflow: hidden;
      margin-bottom: 20px;
      flex-shrink: 0;
      flex-grow: 1;

      div {
        height: auto;
      }
    }

    .place {
      margin-bottom: 25px;
    }

    .buyButton {
      flex: 1;
    }
  }
}