@import 'src/styles/variables';

.root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  z-index: 202;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &:hover {
    background-color: rgba($color: $colorBlack, $alpha: 0.75);
    opacity: 1;
  }

  .innerRoot {
    z-index: 201;
    height: 100%;
    padding: 5%;
    position: absolute;
    color: $colorWhite;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;

    .likeIcon {
      flex: 1;
    }

    .title {
      flex: 10;
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: center;
      word-break: break-all;
      line-height: 1;
      font-size: 6vw;

      div {
        height: auto;
      }
    }

    .buyButton {
      flex: 1;
    }
  }
}