@import 'src/styles/variables';

.wrapper {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;

  .shadow {
    height: 160px !important;
    width: 160px !important;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    
    &.left {
      align-items: flex-end;
    }

    &.right {
      align-items: flex-start;
    }

    svg {
      font-size: 5rem;
      color: $colorRed;
    }

    &:hover {
      background-color: rgba($color: $colorBlack, $alpha: 0.55);
      border-radius: 50%;
      box-shadow: 0 0 0 0;
      transition: 0.3s;
    }
  }

  .navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .icon {
      padding: 0px 20px 20px 20px;
      cursor: pointer;
    }
  }
}