@import 'src/styles/variables';

.root {

  .date {
    position: relative;
    display: flex;
    padding: 20px 20px 20px 40px;
    background: $colorGray;
    box-shadow: inset 6px 0 0 #ec174d;
    box-sizing: border-box;
  }
} 