@import 'src/styles/variables';

.carouselWrapper {
  height: 100%;

  img {
    object-fit: cover;
    height: 100vh !important;
    width: auto;
    min-width: 100%;
    height: auto;
    max-height: 100%;
  }

  .arrowLeft {
    z-index: 2 !important;
    padding: 10px;
    
    font-size: 8rem;
    position: absolute;
    left: -108px;
    top: 45%;
  }

  .arrowRight {
    z-index: 2 !important;
    padding: 10px;
    
    font-size: 8rem;
    position: absolute;
    right: 58px;
    top: 45%;
  }

  .navigation {
    position: absolute;
    bottom: 0px;
  }

  .notSelected {
    opacity: 0.5;
  }

  .selected {
    margin-top: -94px;
    padding: 0px 0px 0px 0px !important;
    color: $colorRed;
    font-size: 8rem;
    font-weight: 900;
    color: $colorWhite;
  }
}