@import 'src/styles/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $colorBlack;
  height: 100%;
  position: relative;  
  cursor: pointer;
}