@import './variables';
@import './fonts';
@import '../../node_modules/slick-carousel/slick/slick.scss';
@import '../../node_modules/slick-carousel/slick/slick-theme.scss';

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  min-height: 100%;
  margin:0;
  padding:0;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}

body {
  background-color: $bgColor;
  color: #fff;
  margin: 0;
  font-size: 0.875rem;
  font-family: Lato, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.43;
  height: 100%;
  min-height: 100%;
  top: 0 !important;
  padding: 0 !important;

  #root {
    position: relative;
    height: 100%;
    min-height: 100%;
  }
}

a {
  text-decoration: none;
  color: $linkColor;
}