@import 'src/styles/variables';

$imageHeight: 350px;

.root {
  width: 100%;

  .imageRoot {
    width: 100%;
    height: $imageHeight;
    background-size: cover;
    background-position: center;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .tags {
      width: $sectionWidth;
      @media (max-width: $desktopBreakpoint) {
        width: calc(100% - 300px);
        margin-left: 20px;
      }
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;

      .tag {
        margin: -10px 2px 30px 2px;
        padding: 10px 20px 10px 20px;
        background-color: $colorGray;

        color: rgba(255, 255, 255, 0.75);
        cursor: pointer;
      }
    }
  }
}