@import 'src/styles/variables';

.root {
  color: $colorBlack;
  padding: 20px 0px 20px 0px;

  .openButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.popoverRoot {
  background-color: $colorWhite !important;
  border: none !important;
  border-radius: 0px !important;
}