@import 'src/styles/variables';

.root {
  width: 100%;
  margin-bottom: 20px;

  .content {
    max-width: $sectionWidth;
    @media (max-width: $desktopBreakpoint) {
      max-width: calc(100% - 75px);
    }
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}